<h1 class="roboto " style="font-size:7em; color:#F8FFFE; width:50%;position:relative; left: 27%; display:list-item; top:31vh;">Dream Diary</h1>
<%if session[:user_id] %>
  <form action="/logout" method="post">
    <input type="submit" name="Submit" value="Logout">
  </form>
  <form class="" action="/delete_user" method="post">
    <input type="submit" name="" value="Delete Account">

  </form>

  <form class="" action="/user_post" method="post">
    <input type="text" name="content" placeholder= "ENTER YOUR POST HERE"value="">
    <input type="submit" name="" value="Create Post">
  </form>
<% else %>
  <a class="monster mx-auto" style="font-size:2em; color:#F8FFFE; padding:10px;" href="login">Login</a>
  <a class="monster mx-auto" style="font-size:2em; color:#F8FFFE; padding:10px;" href="signup">Sign up</a>
<% end %>
<%= session[:user_id] %>



<!-- Line 10: It's the content that will be shown when the user in signed in-->
