<h1>Welcome to my website</h1>
<%if session[:user_id] %>
  <form action="/logout" method="post">
    <input type="submit" name="Submit" value="Logout">
  </form>
  <form class="" action="/delete_user" method="post">
    <input type="submit" name="" value="Delete Account">

  </form>

  <form class="" action="/user_post" method="post">
    <input type="text" name="content" placeholder= "ENTER YOUR POST HERE"value="">
    <input type="submit" name="" value="Create Post">
  </form>
<% else %>
  <a href="login">Login</a>
  <a href="signup">Sign up</a>
<% end %>
<%= session[:user_id] %>



<!-- Line 10: It's the content that will be shown when the user in signed in-->
