body{
  background-color: #2d3735;
}
::placeholder {
  color: black;
  font-size: 13px;
  
}
.closeit{

  width: 25vw;
  height: 25vh;
  /* position: relative;
  left: 33vw;
  top: 40vh; */
}

.roboto{
  font-family: 'Roboto Slab', serif;


}

.monster{
  font-family: 'Montserrat', sans-serif;
}

.placeholder{
    position: relative;
    margin-left: 35%;
    margin-top: 17%;
}
