<section style="width:33%;position:relative; left: 17vw; top:26vh; border-right: 5px solid #F8FFFE;">
  <h1 class="roboto" style="font-size:7em; color:#F8FFFE; width:100%; display:list-item;">Dream Diary</h1>
</section>
<form class="closeit" style=" position: relative;left: 58vw;top: -7vh;"for="exampleInputEmail1" id="exampleInputEmail1" action="/login" method="post">
  <input class="form-control  mx-auto " type="email" name="email" placeholder="Email"><br>
  <input class="form-control  mx-auto " type="password" name="password" placeholder="Password"><br>
  <input type="submit" name="" value="Login">
</form>
