
<form class="closeit mx-auto" for="exampleInputEmail1" id="exampleInputEmail1" action="/login" method="post">
  <input class="form-control  mx-auto " type="email" name="email" placeholder="Email"><br>
  <input class="form-control  mx-auto " type="password" name="password" placeholder="Password"><br>
  <input type="submit" name="" value="Login">
</form>
