<form class="close" for="exampleInputEmail1" id="exampleInputEmail1" action="/login" method="post">
  <input class="form-control  mx-0 " type="email" name="email" placeholder="Email"><br>
  <input type="password mx-0" name="password" placeholder="Password"><br>
  <input type="submit" name="" value="Login">
</form>
