<section style="width:33%;position:relative; left: 17vw; top:26vh; border-right: 5px solid #F8FFFE;">
  <h1 class="roboto" style="font-size:7em; color:#F8FFFE; width:100%; display:list-item;">Dream Diary</h1>
</section>

<section style="width: 38vw;top: -5vh;left: 55vw;position: relative;">
  <h1 class="roboto" style="color:white;">Thank you for signing up!</h1>
  <p class="monster" style="color:white;">Please try to log into your account!</p>
  <a class="monster" style="color:white;"href="/login">Log in</a>
</section>
